:root{
  --bg: #000000;
  --card-surface: #0b1220;
  --accent: #7c3aed;
  --muted: #9ca3af;
  --text: #e6eef6;
}
*{box-sizing:border-box}
body{
  margin:0; font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(180deg, #143ba9 0%, #061945 100%);
  color:var(--text);
  min-height:100vh;
  display: flex; flex-direction:column; align-items: center; padding: 15px;
   
}
.container{width:100%; max-width:1100px; padding:24px; background: #002333 linear-gradient(180deg, #061945 0%, #143ba9 100%); border-radius: 20px; box-shadow:  5px 5px 8px #002333;}

.site-header{width:100%; display:flex; justify-content:space-between; align-items:center; padding:12px 24px; border-bottom: 1px solid  }

.btn{
  background:transparent; border:1px solid rgba(255,255,255,0.06); padding:8px 12px; border-radius:8px; color:var(--text);
  cursor:pointer;
}
.btn:hover{ transform:translateY(-2px); }



body.dark {
  background-color: #121212;
  color: #f5f5f5;
}

/* ===== Tema claro ===== */

body.light {
  background-color: #f8f9fa;
  color: #ffffff;
  background: linear-gradient(180deg, #159A9C 0%, #1349c8 100%);
}

body.dark button {
  background:transparent; border:1px solid rgba(255,255,255,0.06); padding:8px 12px; border-radius:8px; color:var(--text);
  cursor:pointer;
}

body.light button {
  background:transparent; border:1px solid rgba(255,255,255,0.06); padding:8px 12px; border-radius:8px; color:var(--text);
  cursor:pointer;
}

.Juegos-Container{
 display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  width: 100%;
  justify-items: center; 
  margin-top: 20px;}

  @media (max-width: 900px) {
  .Juegos-Container {
    grid-template-columns: repeat(2, 1fr); /
  }
}

@media (max-width: 500px) {
  .Juegos-Container {
    grid-template-columns: 1fr; 
  }
}